In [1]:
# CIS 545

In [ ]:
# pd.set_option('display.max_rows', 500)

In [2]:
## CIS 545 Homework 1 - Spring 2019
# Updated January 2019

# CIS 545 Homework 1: Data Wrangling and Analysis
### Due February 11, 2019 by 10pm

Big data analytics often requires (1) importing data from multiple sources, possibly extracting content from text; then (2) combining data from multiple sources, possibly from multiple different organizations, in heterogeneous formats.  For this assignment, our primary goals are to get you comfortable with importing, extracting, saving, and combining data -- largely using `Pandas DataFrames` as the basic abstraction.  You’ll read data from files, address issues with missing values, save the data in a database, combine the data, and generate visualizations.

*The Task*     
Most of you likely were on a plane over the summer, and chances are that at least one of your flights got delayed.  Did you ever wonder how well different airlines do?  We’ll answer those questions in this assignment!  (Caveat: with apologies to international travelers, most of the data is only available for US cities and routes!)

*Terminology*      
We’ll generally use `field`, `column`, and `attribute` interchangeably to mean a named column in a DataFrame.  We’ll also generally assume that `table`, `DataFrame`, and `relation` mean the same thing.

*Submission*      
See the external document for submission information.  Remember to also do **Homework 1, Part 2** and optionally **Homework 1-Advanced**.

*NBGrader Information*      
We're using a package called `nbgrader` to grade your assignments using an autograding system. With that, there's a couple things to take note:
- If we specify a format, please use it!
- Some cells will not be able to be edited - that is totally fine, we'll mark them
- You may add/remove cells, but if a cell is marked test cases, please don't change it...just add cells before/after it!

*Score Breakdown*
Homework 1 has two parts, Part 1 and Part 2, which are each worth 50 points. The Advanced assignment, when released, will be worth an additional portion (ex: Advanced assignments may be graded out of 120 or 125 instead of 100).
- Step 1: 21 pts
- Step 2: 29 pts
- Step 3: 0 pts (However, if this is done incorrectly, tests in Step 4 will fail!)
- Step 4: 30 pts
- Step 5: 20 pts

## Part 1: Data Extraction and Cleaning
We'll begin by importing the data and doing some basic information extraction and cleaning. This helps prepare our dataset for analysis later on, in Part 2: Data Wrangling and Analysis.

The data files, whose contents are described in the provided notebook _Dataset Descriptions_, are:

* `airports.dat.txt` - data on airports, in comma-separated values (CSVs) with no header row

* `airlines.dat.txt` - data on airlines, in CSV with no header row

* `routes.dat.txt` - data on flight routes, in CSV with no header row

* http://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n - remote file with data on actual flights, with performance info, with a header row

* `aircraft_incidents.htm` - webpage that lists commercial aircraft incidents by year

## Step 1: Importing CSV Data

The first task will be to import tabular data.  Before you get started, run the following...

In [3]:
# csv is a package for file reading/IO
import csv

# pandas is the data analysis library we'll use in this course
import pandas as pd

In [4]:
# YOUR CODE HERE

# raise NotImplementedError()

In [5]:
# YOUR CODE HERE
# raise NotImplementedError()

In [6]:
# This cell can ultimately be removed - it is just to let your notebook compile
# until you write your solution
airports_df = pd.DataFrame({})
airlines_df = pd.DataFrame({})
flights_df = pd.DataFrame({})
routes_df = pd.DataFrame({})

## 1.1 Importing Tabular Data

Fill in the Cells below to read the specified input files using Pandas’ `read_csv` function.  For the first 3 sources you’ll need to assign column names to the data, based on the **Dataset Descriptions** and some hints below.  

We use the variable names `airports_df`, `airlines_df`, `routes_df`, and `flights_df` to refer to the DataFrames below. The `_df` is because Python is dynamically typed, so it helps make code more clear when the type is apparent from the variable name.

For your variables and your column names, follow the Python convention that names are in lowercase and underscores are used as spaces. Specifically, when naming columns that are ***shared*** between datasets, use the format datasource_property (i.e. `airport_id`, `airport_name`, `airline_id`, etc.). Distinct columns do not need to be treated this way, similarly with columns that are okay to share with same name (use your data scientist thinking to figure out which these might be!)

Please keep `lat`, `lon` and `alt` as abbreviations, but note that under the Python naming conventions these are lowercase in our dataframe columns!

In [7]:
# TODO: Load airports.dat.txt into a dataframe called airports_df
# Read the above paragraph for namings!

# YOUR CODE HERE
# raise NotImplementedError()
airports_df = pd.read_csv(filepath_or_buffer='airports.dat.txt', 
                          names=['airport_id','airport_name','city',
                                 'airport_country','iata','icao',
                                 'lat','lon','alt',
                                 'timezone','dst','tz'])

You should see info on your dataframe's schema if you run this cell...

In [8]:
airports_df.dtypes

airport_id           int64
airport_name        object
city                object
airport_country     object
iata                object
icao                object
lat                float64
lon                float64
alt                  int64
timezone           float64
dst                 object
tz                  object
dtype: object

This is the first of many *test case* cells that will help you to (partly) validate that you're on the right path with your answers.  If this (or any of the other cells) fails, this is a clue that your output isn't what we expect.

We also have hidden test cells used to grade your homework, which are marked with:

`[CIS 545 Test Cases] (XXX pts)` and end with `print('[CIS 545 Test Cases] (XXX pts)')`

The test cells should be read-only, but you still should not attempt to edit any of these cells. Typically, our hidden cells are more restrictive in addition to being worth more points. The public test cells are meant just as a gentle guidance, and passing them doesn't mean your answer will receive full points! Being very thorough in your work will help the chances of that.

In [9]:
# [CIS 545 Test Cases] (0 pts)
# This is an example of a test cell! 
# Please don't edit it!

if (len(airports_df) < 8100 or len(airports_df) > 8150): 
    raise ValueError('Your DataFrame doesn''t have the expected number of rows')
    
if (len(airports_df.columns) < 11 or len(airports_df.columns) > 12): # 11 or 12 expected
    raise ValueError('Your DataFrame doesn''t have the expected number of columns')

try:
    if (airports_df['airport_id'].dtype != 'int64'):
        raise ValueError('Airport ID is wrong type, should be integer')
    if (airports_df['airport_name'].dtype != 'object'):
        raise ValueError('Airport name is wrong type, should be object (string)')
    pass

except KeyError:
    raise KeyError('You likely misspelled a column name or didn''t load the dataframe')
    pass


print('[CIS 545 Test Cases] (0 pts)')

[CIS 545 Test Cases] (0 pts)

In [10]:
# [CIS 545 Test Cases] (2 pts)
# Testing dtypes of your dataframe


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [11]:
# TODO: Load airlines.dat.txt into a dataframe called airlines_df
# Again, check Dataset Descriptions!

# YOUR CODE HERE
# raise NotImplementedError()
airlines_df = pd.read_csv(filepath_or_buffer='airlines.dat.txt', 
                          names=['airline_id','airline_name','alias','iata',
                                 'icao','airline_callsign','airline_country','active'])

In [12]:
airlines_df.dtypes

airline_id           int64
airline_name        object
alias               object
iata                object
icao                object
airline_callsign    object
airline_country     object
active              object
dtype: object

In [13]:
# [CIS 545 Test Cases] (0 pts)

if (len(airlines_df) < 6030 or len(airlines_df) > 6060):
    raise ValueError('Unexpected number of airlines rows')
    
if (len(airlines_df.columns) != 8):
    raise ValueError('Unexpected number of columns in airlines')


print('[CIS 545 Test Cases] (0 pts)')

[CIS 545 Test Cases] (0 pts)

In [14]:
# [CIS 545 Test Cases] (2 pts)


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

Now, let's do the same for `routes` - notice that we have source and destination ID and IATA/ICAO code. For `Source airport` please use `src_iata_icao` and for `Source airport ID` please use `source_id` - for the destinations, use `target` for both (`target_iata_icao` and `target_id`).

Note that `Codeshare` you should import as `code_share`

In [15]:
# TODO: Load routes.dat.txt into a dataframe called routes_df
# Same idea as before!

# YOUR CODE HERE
# raise NotImplementedError()
routes_df = pd.read_csv(filepath_or_buffer='routes.dat.txt',
                        names=['airline_iata','airline_id','src_iata_icao',
                               'source_id','target_iata_icao','target_id',
                               'code_share','stops','equipment'])

In [16]:
routes_df.dtypes

airline_iata        object
airline_id          object
src_iata_icao       object
source_id           object
target_iata_icao    object
target_id           object
code_share          object
stops                int64
equipment           object
dtype: object

In [17]:
# [CIS 545 Test Cases] (0 pts)
# Basic routes_df tests

if (len(routes_df) < 67660 or len(routes_df) > 67700):
    raise ValueError('Unexpected number of routes')
    
if (len(routes_df.columns) != 9):
    raise ValueError('Unexpected number of route columns')

if ('source_id' not in routes_df.columns):
    raise KeyError('Missing expected source_id field from routes')

if ('target_iata_icao' not in routes_df.columns):
    raise KeyError('Missing expected target_iata_iaco field from routes')


print('[CIS 545 Test Cases] (0 pts)')

[CIS 545 Test Cases] (0 pts)

In [18]:
# [CIS 545 Test Cases] (2 pts)
# routes_df data tests


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

For the last dataframe, `flights_df`, you are importing from a CSV with a header.  For now, have Python use the header names already in the file. When calling read_csv, use the option use_cols to specify a list of columns to import.  Only include the following fields (these were named in the CSV file header from BTS, and thus don’t follow Python naming conventions): [`YEAR`,`MONTH`,`DAY_OF_MONTH`,`CARRIER`,`FL_NUM`,`ORIGIN`,`DEST`,`ARR_DELAY_NEW`,`CANCELLED`]

The data is at: https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n

In [19]:
# TODO: Import https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n into flights_df, but
# also restrict to the following columns: 'YEAR','MONTH','DAY_OF_MONTH','CARRIER',
# 'FL_NUM','ORIGIN','DEST','ARR_DELAY_NEW','CANCELLED'

import requests
from io import StringIO

remote = requests.get('https://docs.google.com/uc?export=download&id=1PPtjGx8lr_cDUfVa3qwlk1W8yY6hY91n').content

# You can read from the remote file via:
# flights = pd.read_csv(StringIO(remote.decode('utf-8')))
#
# But you also need to use particular columns as per the HW spec

# YOUR CODE HERE
# raise NotImplementedError()
flights_df = pd.read_csv(filepath_or_buffer=StringIO(remote.decode('utf-8')),
                         usecols=['YEAR','MONTH','DAY_OF_MONTH',
                                  'CARRIER','FL_NUM','ORIGIN',
                                  'DEST','ARR_DELAY_NEW','CANCELLED'])

In [20]:
# [CIS 545 Test Cases] (1 pt)
# Basic checks on the size of flights - you should pass all these!

if (len(flights_df) != 570118):
    raise ValueError('Expected a different number of flights from' + str(len(flights_df)))
    
if (len(flights_df.columns) != 9):
    raise ValueError('Perhaps you forgot to remove a column? Number of columns isn''t as expected, at ' + str(len(flights_df.columns)))
        
print('[CIS 545 Test Cases] (1 pt)')

[CIS 545 Test Cases] (1 pt)

In [21]:
# [CIS 545 Test Cases] (2 pts)


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

## Notes on the data so far

The data you've imported isn't yet perfect....

**Nulls**.  You should see for airlines a variety of entries that say “NaN” (not a number), which represents “unknown” or null information.  In fact, if you look closely there are also other values representing “unknown” such as “\N” and even “-”.  We’ll have to regularize all of this later!

**Schemas**.  OK, you’ve loaded the DataFrames.  You can get the schemas -- the names and types of the columns -- of the DataFrames by the `dtypes` property.  Use `airlines_df.dtypes` and `routes_df.dtypes` to take a look at the schemas.  Now compare the types of `routes_df.airline_id` and `airlines_df.airline_id`.  You should see that one is `int64` and the other is `object`.

Why is this?  Python automatically infers the types based on what it reads from the CSV files.  Unfortunately, things like “NaN” are actually floating-point (fractional) numbers and “\N” is a string.  If a column has multiple kinds of values, Python will consider it to be an “object.”  Unfortunately, this will interfere with how we combine tables later, so we need to “clean” the data.  

We'll come back to this later in Homework 1, Part I.  Before that we'll let you take a look at the data to see the issues, and then we'll import even more data (text data this time!).

In [22]:
# YOUR CODE HERE
# raise NotImplementedError()
airlines_df.dtypes

airline_id           int64
airline_name        object
alias               object
iata                object
icao                object
airline_callsign    object
airline_country     object
active              object
dtype: object

In [23]:
# YOUR CODE HERE
# raise NotImplementedError()
routes_df.dtypes

airline_iata        object
airline_id          object
src_iata_icao       object
source_id           object
target_iata_icao    object
target_id           object
code_share          object
stops                int64
equipment           object
dtype: object

## 1.1 Final Results
Just run these cells! We've made them read-only and they're not graded.

In [24]:
# Output airports_df
airports_df.head(10)

,airport_id,airport_name,city,airport_country,iata,icao,lat,lon,alt,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule

In [25]:
# Output airlines_df
airlines_df.head(10)

,airline_id,airline_name,alias,iata,icao,airline_callsign,airline_country,active
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N
5,6,223 Flight Unit State Airline,\N,NaN,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,\N,NaN,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,\N,NaN,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,\N,NaN,SEC,SECUREX,United States,N
9,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y

In [26]:
# Output routes_df
routes_df.head(10)

,airline_iata,airline_id,src_iata_icao,source_id,target_iata_icao,target_id,code_share,stops,equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
5,2B,410,DME,4029,KZN,2990,NaN,0,CR2
6,2B,410,DME,4029,NBC,6969,NaN,0,CR2
7,2B,410,DME,4029,TGK,\N,NaN,0,CR2
8,2B,410,DME,4029,UUA,6160,NaN,0,CR2
9,2B,410,EGO,6156,KGD,2952,NaN,0,CR2

In [27]:
# Output flights_df
flights_df.head(10)

,YEAR,MONTH,DAY_OF_MONTH,CARRIER,FL_NUM,ORIGIN,DEST,ARR_DELAY_NEW,CANCELLED
0,2018,1,2,WN,1325,SJU,MCO,0.0,0.0
1,2018,1,2,WN,5159,SJU,MCO,0.0,0.0
2,2018,1,2,WN,5890,SJU,MCO,9.0,0.0
3,2018,1,2,WN,6618,SJU,MCO,0.0,0.0
4,2018,1,2,WN,1701,SJU,MDW,8.0,0.0
5,2018,1,2,WN,844,SJU,TPA,23.0,0.0
6,2018,1,2,WN,4679,SJU,TPA,0.0,0.0
7,2018,1,2,WN,6294,SLC,BUR,20.0,0.0
8,2018,1,2,WN,5245,SLC,DAL,0.0,0.0
9,2018,1,2,WN,2278,SLC,DEN,0.0,0.0

## 1.2 Importing Text Data

We are going to scrape data from the aircraft_incidents.htm webpage using the *beautifulsoup4* package. More details can be found in the documentation: https://www.crummy.com/software/BeautifulSoup/bs4/doc/.

Run the code snippet that stores the web content in soup. Once the content is extracted, we need to get rid of the HTML tags and select the data we are going to be looking at. The data we need are the year and the description of the incidents under that year. It can be seen that the HTML tag (almost always) for the year is `<h3>` and for the incidents it is `<li>`.

In [28]:
# bs4 is one of the packages frequently used for HTML parsing!
# Just run this cell, but reading the bs4 docs will help later...

from bs4 import BeautifulSoup
input_html = "aircraft_incidents.htm"

# Open file I/O
with open(input_html, "r") as ifile:
    # soup is the bs4 object 
    soup = BeautifulSoup(ifile, 'html.parser')

Using beautifulsoup4’s `find_all`(list of tags) function, only select the content under those HTML tags. Store the data in a list of strings called `selected_data`, where each year or incident description is a separate string in the list.

In [29]:
# TODO: Select Year and Incident description. It can be seen that they are usually
# <h3> or <li> tags.
'''
def process_tag(x):
    output = x.get_text()
    if x.name == 'h3':
        obj = re.match(r'\d+',output)
        if obj:
            output = obj.group()
        else:
            output = None
    return output
'''
# Assign the results to variable selected_data. 
selected_data = [ x.get_text() for x in soup.find_all(['h3','li']) ] # Fill this in with your code after!
#print(selected_data)
# YOUR CODE HERE
# raise NotImplementedError()

In [30]:
# [CIS 545 Test Cases] (1 pt)
# Basic checks on selected_data

if (not type(selected_data) is list):
    raise ValueError('''For efficiency, please 
    store selected_data as list''')
    
if (len(selected_data) < 1570 or len(selected_data) > 1585):
    raise ValueError("Don't have the expected number of entries")
    

print('[CIS 545 Test Cases] (1 pt)')

[CIS 545 Test Cases] (1 pt)

In [31]:
# [CIS 545 Test Cases] (2 pts)
# Checking selected_data more rigorously


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [32]:
# [CIS 545 Test Cases] (2 pts)
# Checking selected_data more rigorously


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

Finally, check if all the HTML tags have been removed. Output the message 'No Tag Found!’, if successful.

In [33]:
# TODO: Check if all tags have been removed
# Output 'No Tag Found!' if no tags

# YOUR CODE HERE
# raise NotImplementedError()
import re
find_tag = False
for x in selected_data:
    # detect objects that are not None and have the pattern indicated below
    if type(x) == type('x') and re.match(r'<\w*>\w*<(/?)\w*>',x):
        find_tag = True
        break
if(not find_tag):
    print('No Tag Found!')

No Tag Found!

In [34]:
# [CIS 545 Test Cases] (2 pts)
# Checking HTML cleaning


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [35]:
# View a slice of selected_data
selected_data[:15]

['1919[edit]',
 'July 21 – The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.',
 'August 2 – A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).',
 '1920[edit]',
 'December 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.',
 '1922[edit]',
 'April 7 – In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.',
 '1923[edit]',
 'May 14 – An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.',
 'August 27 – An Air Union Farman F.60 Goliath crashes near East Malling, Kent, England, due to engine failure, and confusion among the passengers, killing one of 13 on board.',
 'September 14 – A Daimler Airway de Havilland DH.34 crashes at Ivinghoe, Buckinghamshire, England, after stalling while attempting an emergency landing, killing all five on board.',
 '1924[edit]',
 'December 24 – An Imperial Airways de Havilland DH.34 crashes near Purley, Surrey, England, due to a stall during an attempted emergency landing in response to an unknown mechanical defect, killing all eight on board.',
 '1926[edit]',
 'August 18 – An Air Union Blériot 155 crashes while attempting an emergency landing at College Farm, Hurst, Aldington, England, due to engine failure, killing three of 15 on board; the pilot initially survives, but dies a day later.']

Now we'd like you to save the results to a file called `incidents_raw.txt`.  You can use the file commands: `open`, `write`, and `close`.  Be sure to write a newline (`\n`) after each line, so that later you can read the lines back.

In [36]:
# TODO: Write selected_data to incidents_raw.txt

# YOUR CODE HERE
# raise NotImplementedError()
with open('incidents_raw.txt','w') as f:
    for x in selected_data:
        f.write(str(x))
        f.write('\n')

In [37]:
# [CIS 545 Test Cases] (5 pts)
# Checking incidents_raw processing - this is worth a lot!


print('[CIS 545 Test Cases] (5 pts)')

[CIS 545 Test Cases] (5 pts)

## Step 2: Simple Data Cleaning

Now we need to do some further cleaning to both the CSV and text data.

(use Insert|Insert Cell Above or Insert Cell Below as needed to add further cells)

## 2.1 Cleaning Tabular Data
We are going to clean the `airlines_df`, `airports_df`, and `routes_df` DataFrames.  First, run a "helper" function we've defined for you.

In [38]:
# Replace NaNs with blanks if the column is a string
# Everything should be of a consistent type
def fillna_col(series):
    if series.dtype is pd.np.dtype(object):
        return series.fillna('')
    else:
        return series

Additionally, define a second function called `nullify` that takes a single parameter `x`. Given the parameter value `\N` it returns `NaN`, otherwise it returns the value of the parameter.

In [39]:
# TODO: Define nullify here

# YOUR CODE HERE
# raise NotImplementedError()
def nullify(x):
    if x == '\\N':
        return pd.np.NaN
    else:
        return x

In [40]:
# [CIS 545 Test Cases] (2 pts)
# Checking nullify

# Test that nullify on 'abc' just returns the value
if (nullify('abc') != 'abc'):
    raise ValueError("Nullify doesn't seem to work!\n")

# Ditto for an integer
if (nullify(3) != 3):
    raise ValueError("Nullify doesn't seem to work!\n")
    
print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [41]:
# [CIS 545 Test Cases] (3 pts)
# Checking nullify


print('[CIS 545 Test Cases] (3 pts)')

[CIS 545 Test Cases] (3 pts)

### 2.1.1 Regularizing and removing nulls

Next, we’ll need to use two functions to apply `nullify` and `fillna_col` to our DataFrames.  

The DataFrame applymap function can be used to apply a function to every cell of a DataFrame.  We can use this to apply nullify to all of the elements in each of our DataFrames (airports, airlines, etc.) and get rid of all of the “\N”s.

The DataFrame `apply` function can be used to apply a function to every column of a DataFrame.  Let’s use that to call `fillna_col `on the DataFrames -- replacing the NaNs with blank strings if the column is otherwise an object.

Also, let’s get rid of rows in `routes_df` that have null airline, source, or destination IDs.  Recall that `dropna` can be used here.

You’ll want to update your DataFrames using all of the above functions.  Think carefully about the order in which to apply these.

In [42]:
# TODO: regularize and remove nulls according to Step 2

# YOUR CODE HERE
# raise NotImplementedError()

# print(len(airports_df))
airports_df = airports_df.applymap(nullify)
airports_df = airports_df.apply(fillna_col)
# print(len(airports_df))

# print(len(airlines_df))
airlines_df = airlines_df.applymap(nullify)
airlines_df = airlines_df.apply(fillna_col)
# print(len(airlines_df))

# print(len(routes_df))
routes_df = routes_df.applymap(nullify)
routes_df = routes_df.dropna(how='any',subset=['airline_id','source_id','target_id'])
routes_df = routes_df.apply(fillna_col)
# print(len(routes_df))

# print(len(flights_df))
flights_df = flights_df.applymap(nullify)
flights_df = flights_df.apply(fillna_col)
# print(len(flights_df))

In [43]:
# [CIS 545 Test Cases] (1 pt)
# Basic checks of your dataframes

if airports_df.isnull().sum().sum() != 0:
    raise ValueError('airports_df still has NaNs')
    
if airlines_df.isnull().sum().sum() != 0:
    raise ValueError('airlines_df still has Nans')
    
if routes_df.isnull().sum().sum() != 0:
    raise ValueError('routes_df still has Nans')
    
print('[CIS 545 Test Cases] (1 pt)')

[CIS 545 Test Cases] (1 pt)

In [44]:
## [CIS 545 Test Cases] (2 pts)
# Checking your data cleaning


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [45]:
# [CIS 545 Test Cases] (2 pts)
# Checking your data cleaning


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

### 2.1.2 Changing column types

After all of this, `routes_df.airline_id` will only have integers, but will still have its existing type of object.  Later we’ll need it to be an integer, so that it can be compared directly with the entries from `airlines_df` and `airports_df`.  Let’s convert it to integer via:

```
routes_df['airline_id'] = routes_df['airline_id'].astype(int)
```

Repeat the same process for the source and destination airport IDs.

In [46]:
# TODO: Change column types according to Step 2

# YOUR CODE HERE
# raise NotImplementedError()

routes_df['airline_id'] = routes_df['airline_id'].astype(int)
routes_df['source_id'] = routes_df['source_id'].astype(int)
routes_df['target_id'] = routes_df['target_id'].astype(int)

In [47]:
# [CIS 545 Test Cases] (2 pts)


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

## 2.2 Cleaning the Text Data

We will clean the raw text data we stored in `incidents_raw.txt`. For each incident, we want it in the form:

```
1997 January 9 , Comair Flight 3272, an Embraer EMB 120 Brasília, crashes near Ida, Michigan, during a snowstorm, killing all 29 on board.
```

Points to follow during cleaning:

* Remove `[edit]` from the year

* Only select incidents that have occured in the year >= 1997

* Since we extracted the data using tags `<h3>` and `<li>`, it is possible that there was other data extracted too. See the end of file `incidents_raw.txt`. However, if we look at the format of all the incidents, we can see that they all contain: *month*, the word `Flight` and the symbol `–`. Use these conditions to filter out unwanted data.

* Store all the cleaned incidents in a list named `clean_incidents`.

In [48]:
# TODO: Read and clean raw text file and store in clean_incidents

# YOUR CODE HERE
# raise NotImplementedError()

import re
# the list to store all the cleaned incidents
clean_incidents = []
# begin cleaning
with open('incidents_raw.txt','r') as fin:
    cur_year = '0'
    for line in fin:
        line = line.strip()
        if line != '':
            new_year = re.match(r'(\d*)(\[edit\])',line)
            if new_year is not None:
                cur_year = new_year.group(1)
            else:
                incident = re.match(r'(January|February|March|April|May|June|July|August|September|October|November|December) (\d*) – (.*) Flight (.*)',line)
                if int(cur_year) >= 1997 and incident is not None :
                    clean_incidents.append( str(cur_year) + ' ' 
                                           + incident.group(1).strip() + ' ' 
                                           + incident.group(2).strip() + ' , '
                                           + incident.group(3).strip() + ' Flight ' 
                                           + incident.group(4).strip() )

In [49]:
# [CIS 545 Test Cases] (2 pts)
# Very basic testing of your dataframe...

if len(clean_incidents) < 330 or len(clean_incidents) > 335: #331 expected
    raise ValueError("Don't have the expected number of entries")

if not clean_incidents[0].startswith('1997'):
    raise ValueError("Don't have the expected start date")
    
print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [50]:
# [CIS 545 Test Cases] (2 pts)
# Checking the values in clean_incidents


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [51]:
# [CIS 545 Test Cases] (2 pts)
# Checking the values in clean_incidents


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [52]:
# [CIS 545 Test Cases] (2 pts)
# Checking the values in clean_incidents


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

Now that we have all the aircraft incidents since 1997, we need to convert them into a Pandas DataFrame. Use the empty dataframe `incidents_df`.  For each entry in clean_incidents, extract the date, airline name and flight number (only the part that comes after `Flight`, and you should remove what are called "stop words" like a, an, the) then store it as a new row in `incidents_df`. Set the column type of `incidents_df['Date']` to `datetime`. Drop any duplicates from `incidents_df`.

In [53]:
# TODO: Convert clean_incidents into dataframe incidents_df

# You might find the Natural Language Toolkit (nltk) useful.
# See https://www.nltk.org/ for details.
#
# The stopwords module will let you find and remove not-very-useful
# words like articles ('the', 'a'). (We imported it earlier in the assignment)

# YOUR CODE HERE
# raise NotImplementedError()

import re
'''
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
print(stop_words)
'''
def process_airline_name(line):
    # return line   
    # re.match(r'^([^,:]*)[,:](.*)', line) # find the string after the first , or :
    # re.match(r'(.*)(hijack|board|and|with|a|an|the)(.*)', line)
    
    # modify line if it has multiple 'Flight's
    if line.find('Flight') >= 0:
        line = line[:line.find('Flight')].strip()
    # modify line if it has multiple sub-sentences
    o1 = re.match(r'(.*)[,:.](.*)', line)
    if o1 is not None:
        line = o1.group(2)
    # get final result
    o2 = re.match(r'(.*)( hijack | board | and | with | a | an | the )(.*)', line)
    if o2 is not None:
        # has stop words
        return o2.group(3)
    else:
        # input is the airline name
        return line
    
# init lists for dictionary
airlines = []
dates = []
flightnums = []

# append data to the lists
for x in clean_incidents:
    obj = re.match(r'(.*) , (.*) Flight (\w*)(.*)',x)
    if obj is not None:
        airlines.append( process_airline_name(obj.group(2)).strip() )
        dates.append( obj.group(1).strip() )
        flightnums.append( obj.group(3).strip() )

# create the dataframe
incidents_df = pd.DataFrame({'Airline': airlines, 'Date': dates,'FlightNum':flightnums})

#print(incidents_df)

                               Airline               Date FlightNum
0                               Comair     1997 January 9      3272
1    Stavropolskaya Aktsionernaya Avia      1997 March 18      1023
2           Merpati Nusantara Airlines      1997 April 19       106
3              China Southern Airlines         1997 May 8      3456
4                        FedEx Express       1997 July 31        14
5                          Sempati Air       1997 July 17       304
6                           Korean Air      1997 August 6       801
7                     Formosa Airlines     1997 August 10      7601
8                     Vietnam Airlines   1997 September 3       815
9                Royal Brunei Airlines   1997 September 6       238
10                    Garuda Indonesia  1997 September 26       152
11               Austral Líneas Aéreas    1997 October 10      2553
12                 Tajikistan Airlines   1997 December 15      3183
13                            Aerosvit   1997 December 17       241
14                             SilkAir   1997 December 19       185
15                     United Airlines   1997 December 28       826
16                        Cebu Pacific    1998 February 2       387
17                      China Airlines   1998 February 16       676
18                 Philippine Airlines      1998 March 22       137
19                          Air France      1998 April 20       422
20                                 PIA        1998 May 25       544
21                             Propair       1998 June 18       420
22                    Proteus Airlines       1998 July 30       706
23                      Myanma Airways     1998 August 24       635
24                  Cubana de Aviación     1998 August 29       389
25                            Swissair   1998 September 2       111
26                            PauknAir  1998 September 25      4101
27                             Lionair  1998 September 29       602
28          Thai Airways International   1998 December 11       261
29            China Southwest Airlines   1999 February 24      4509
..                                 ...                ...       ...
301    Ceiba Intercontinental Airlines   2015 September 5        71
302                    British Airways   2015 September 8      2276
303                           Aviastar     2015 October 2      7503
304                    Dynamic Airways    2015 October 29       405
305                           Metrojet    2015 October 31      9268
306                    West Air Sweden     2016 January 8       294
307                    Daallo Airlines    2016 February 2       159
308                           Tara Air   2016 February 24       193
309                           Flydubai      2016 March 19       981
310                           EgyptAir      2016 March 29       181
311                          Batik Air       2016 April 4      7703
312                           EgyptAir        2016 May 19       804
313                         Korean Air        2016 May 27      2708
314                 Singapore Airlines       2016 June 27       368
315                           Emirates      2016 August 3       521
316               ASL Airlines Hungary      2016 August 5      7332
317                 Southwest Airlines     2016 August 27      3472
318                  American Airlines    2016 October 28       383
319                      FedEx Express    2016 October 28       910
320                     LaMia Airlines   2016 November 28      2933
321    Pakistan International Airlines    2016 December 7       661
322                          Aerosucre   2016 December 20      4544
323                  Afriqiyah Airways   2016 December 23       209
324                   Turkish Airlines    2017 January 16      6491
325                  Peruvian Airlines      2017 March 28       112
326                         Summit Air        2017 May 27       409
327                         Air Canada        2017 July 7       759
328                         Air France  2017 September 30        66
329                 West Wind Aviation   2017 December 13       280
330                   Pegasus Airlines    2018 January 13      8622

[331 rows x 3 columns]

In [54]:
# [CIS 545 Test Cases] (3 pts)
# Checking your dataframe size and shape

if len(incidents_df) < 330 or len(incidents_df) > 335: 
    raise ValueError("Don't have the expected number of entries")

if incidents_df.shape[1] != 3:
    raise ValueError("Don't have the expected number of fields")

if not ((incidents_df['Airline'] == 'Cebu Pacific') & \
        (incidents_df['Date'] == '1998 February 2') & \
        (incidents_df['FlightNum'] == '387')).any():
    raise ValueError('You might need to clean your data a bit better')
    
print('[CIS 545 Test Cases] (3 pts)')

[CIS 545 Test Cases] (3 pts)

In [55]:
# [CIS 545 Test Cases] (2 pts)
# We're going to be testing your data cleaning more thoroughly here


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

In [56]:
# [CIS 545 Test Cases] (2 pts)
# We're going to be testing your data cleaning more thoroughly here


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

Now, we want to change the column type and clean data a bit further

In [57]:
# TODO: Change column type of 'Date' and drop duplicates

# YOUR CODE HERE
# raise NotImplementedError()

print(len(incidents_df))
import datetime

# change dtype
# incidents_df['Date'] = incidents_df['Date'].astype(datetime.date)
def to_date(x):
    if type(x) == str:
        y, m, d = x.strip().split()
        m = month_dict[ m[:3].lower() ]
        return datetime.date(int(y),int(m),int(d))
    else:
        return x
month_dict = {'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,
              'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}
incidents_df['Date'] = incidents_df['Date'].apply(to_date)

# drop duplicates
incidents_df.drop_duplicates(inplace = True)
#incidents_df = incidents_df.reset_index()

#print(incidents_df)

331
                               Airline        Date FlightNum
0                               Comair  1997-01-09      3272
1    Stavropolskaya Aktsionernaya Avia  1997-03-18      1023
2           Merpati Nusantara Airlines  1997-04-19       106
3              China Southern Airlines  1997-05-08      3456
4                        FedEx Express  1997-07-31        14
5                          Sempati Air  1997-07-17       304
6                           Korean Air  1997-08-06       801
7                     Formosa Airlines  1997-08-10      7601
8                     Vietnam Airlines  1997-09-03       815
9                Royal Brunei Airlines  1997-09-06       238
10                    Garuda Indonesia  1997-09-26       152
11               Austral Líneas Aéreas  1997-10-10      2553
12                 Tajikistan Airlines  1997-12-15      3183
13                            Aerosvit  1997-12-17       241
14                             SilkAir  1997-12-19       185
15                     United Airlines  1997-12-28       826
16                        Cebu Pacific  1998-02-02       387
17                      China Airlines  1998-02-16       676
18                 Philippine Airlines  1998-03-22       137
19                          Air France  1998-04-20       422
20                                 PIA  1998-05-25       544
21                             Propair  1998-06-18       420
22                    Proteus Airlines  1998-07-30       706
23                      Myanma Airways  1998-08-24       635
24                  Cubana de Aviación  1998-08-29       389
25                            Swissair  1998-09-02       111
26                            PauknAir  1998-09-25      4101
27                             Lionair  1998-09-29       602
28          Thai Airways International  1998-12-11       261
29            China Southwest Airlines  1999-02-24      4509
30                    Turkish Airlines  1999-04-07      5904
31                    Korean Air Cargo  1999-04-15      6316
32                   American Airlines  1999-06-01      1420
33                            Air Fiji  1999-07-24       121
34                  All Nippon Airways  1999-07-24        61
35                                TACV  1999-08-07      5002
36                      China Airlines  1999-08-22       642
37                                LAPA  1999-08-31      3142
38                           Necon Air  1999-09-05       128
39                   Britannia Airways  1999-09-14      226A
40                              Qantas  1999-09-23         1
41                            EgyptAir  1999-10-31       990
42                               TAESA  1999-11-09       725
43                              Si Fly  1999-11-12      3275
44                        Asian Spirit  1999-12-07       100
45                     SATA Air Açores  1999-12-11      530M
46                  Cubana de Aviación  1999-12-21      1216
47                    Korean Air Cargo  1999-12-22      8509
48                     Indian Airlines  1999-12-24       814
49                  Cubana de Aviación  1999-12-25       310
50                            Crossair  2000-01-10       498
51                       Kenya Airways  2000-01-30       431
52                     Alaska Airlines  2000-01-31       261
53                     Emery Worldwide  2000-02-16        17
54                  Southwest Airlines  2000-03-05      1455
55                     Air Philippines  2000-04-19       541
56                      Wuhan Airlines  2000-06-22       343
57                               Malév  2000-07-04       262
58                          Aerocaribe  2000-07-08      7831
59                         Hapag-Lloyd  2000-07-12      3378
60                        Alliance Air  2000-07-17      7412
61                          Air France  2000-07-25      4590
62                            Gulf Air  2000-08-23       072
63                  Singapore Airlines  2000-10-31       006
64              Dirgantara Air Service  2000-11-18      3130
65                     British Airways  2000-12-20      2069
66                             Yemenia  2001-01-23       448
67                     RUTACA Airlines  2001-01-25       225
68                      Japan Airlines  2001-01-31       958
69                            Loganair  2001-02-27      670A
70          Thai Airways International  2001-03-03       114
71                        Air Caraïbes  2001-03-24      1501
72                     Vladivostok Air  2001-07-04       352
73                         Air Transat  2001-08-24       236
74                 Binter Mediterráneo  2001-08-29      8261
75                   American Airlines  2001-09-11        11
76                     United Airlines  2001-09-11       175
77                   American Airlines  2001-09-11        77
78                     United Airlines  2001-09-11        93
83                    Siberia Airlines  2001-10-04      1812
84               Scandinavian Airlines  2001-10-08       686
85                   American Airlines  2001-11-12       587
86                            Crossair  2001-11-24      3597
87                   American Airlines  2001-12-22        63
88                            Lion Air  2002-01-14       386
89                    Garuda Indonesia  2002-01-16       421
90                                TAME  2002-01-28       120
91                      Iran Air Tours  2002-02-12       956
92                           Air China  2002-04-15       129
93                        EAS Airlines  2002-05-04      4226
94                            EgyptAir  2002-05-07       843
95             China Northern Airlines  2002-05-07      6136
96                      China Airlines  2002-05-25       611
97                 Bashkirian Airlines  2002-07-01       611
98        Swiss International Airlines  2002-07-10       850
99                  Rico Linhas Aéreas  2002-08-30      4823
100                 Northwest Airlines  2002-10-09        85
101                             Luxair  2002-11-06      9642
102       Laoag International Airlines  2002-11-11       585
103                        Air Midwest  2003-01-08      5481
104                   Turkish Airlines  2003-01-08       634
105                          TANS Perú  2003-01-09       222
106                        Air Algérie  2003-03-06      6289
107                        UM Airlines  2003-05-26      4230
108                             Qantas  2003-05-29      1737
109                      Sudan Airways  2003-07-08       139
110                      FedEx Express  2003-12-18       647
111                              UTAGE  2003-12-25       141
112                     Flash Airlines  2004-01-03       604
113                 Uzbekistan Airways  2004-01-13      1154
114                           Kish Air  2004-02-10      7170
115                 Rico Linhas Aéreas  2004-05-14      4815
116                      Gabon Express  2004-06-08       221
117                         Air Tahoma  2004-08-13       185
118                   Siberia Airlines  2004-08-24      1047
119                  Volga-AviaExpress  2004-08-24      1303
122                        MK Airlines  2004-10-14      1602
123                  Pinnacle Airlines  2004-10-14      3701
124                 Corporate Airlines  2004-10-19      5966
125             China Eastern Airlines  2004-11-21      5210
126                           Lion Air  2004-11-30       538
127                            Kam Air  2005-02-03       904
128                    British Airways  2005-02-20       268
129                        Air Transat  2005-03-06       961
130                  Regional Airlines  2005-03-16      9288
131                         US Airways  2005-06-09       132
132                         Air France  2005-08-02       358
133                           Tuninter  2005-08-06      1153
134                         Copterline  2005-08-10       103
135                     Helios Airways  2005-08-14       522
136             West Caribbean Airways  2005-08-16       708
137                          TANS Perú  2005-08-23       204
138                   Mandala Airlines  2005-09-05       091
139                    JetBlue Airways  2005-09-21       292
140                  Bellview Airlines  2005-10-22       210
141                 Southwest Airlines  2005-12-08      1248
142                  Sosoliso Airlines  2005-12-10      1145
143              Chalk's Ocean Airways  2005-12-19       101
144                Azerbaijan Airlines  2005-12-23       217
145                 TEAM Linhas Aéreas  2006-03-31      6865
146                            Armavia  2006-05-03       967
147                        S7 Airlines  2006-07-09       778
148                                PIA  2006-07-10       688
149                        Air Algérie  2006-08-13      2208
150        Pulkovo Aviation Enterprise  2006-08-22       612
151                             Comair  2006-08-27      5191
152                     Iran Air Tours  2006-09-01       945
153             Gol Transportes Aéreos  2006-09-29      1907
154                   Turkish Airlines  2006-10-03      1476
155                   Atlantic Airways  2006-10-10       670
156                       ADC Airlines  2006-10-29        53
157                           Adam Air  2007-01-01       574
158                           Air West  2007-01-24       612
159                           Adam Air  2007-02-21       172
160                   Garuda Indonesia  2007-03-07       200
161                              UTair  2007-03-17       471
162                      Kenya Airways  2007-05-05       507
163                             PMTair  2007-06-25       241
164                       TAM Airlines  2007-07-17      3054
165                         Air Moorea  2007-08-09      1121
166                     China Airlines  2007-08-20       120
167              Scandinavian Airlines  2007-09-09      1209
168              Scandinavian Airlines  2007-09-12      2748
169              Scandinavian Airlines  2007-10-27      2867
173                One-Two-GO Airlines  2007-09-16       269
174                           Atlasjet  2007-11-30      4203
175                              TAROM  2007-12-30      3107
176                    British Airways  2008-01-17        38
177                      Eagle Airways  2008-02-08      2279
178                            Belavia  2008-02-14      1834
179             Santa Bárbara Airlines  2008-02-21       518
180                  Hewa Bora Airways  2008-04-15       122
181                               TACA  2008-05-30       390
182                      Sudan Airways  2008-06-10       109
183                             Qantas  2008-07-25        30
184                            Spanair  2008-08-20      5022
185               Iran Aseman Airlines  2008-08-24      6895
186                      Sriwijaya Air  2008-08-27        62
187                           Aeroflot  2008-09-14       821
188                             Qantas  2008-10-07        72
189                      Yeti Airlines  2008-10-08       103
190                            Ryanair  2008-11-10      4102
191               Continental Airlines  2008-12-20      1404
192                         US Airways  2009-01-15      1549
193                         Colgan Air  2009-02-12      3407
194                   Turkish Airlines  2009-02-25      1951
195                 Cougar Helicopters  2009-03-12        91
196                           Emirates  2009-03-20       407
197                      FedEx Express  2009-03-23        80
198          Bond Offshore Helicopters  2009-04-01       85N
199                             CanJet  2009-04-19       918
200                         Air France  2009-06-01       447
201                            Yemenia  2009-06-30       626
202                 Southwest Airlines  2009-07-13      2294
203                   Caspian Airlines  2009-07-15      7908
204                           Aria Air  2009-07-24      1525
205         Merpati Nusantara Airlines  2009-08-02      9760
206                    Bangkok Airways  2009-08-04       266
207                       Airlines PNG  2009-08-11      4684
208                         Aeroméxico  2009-09-09       576
209                            Airlink  2009-09-24      8911
210                     Azza Transport  2009-10-21      2241
211                      Divi Divi Air  2009-10-22       014
212                           RwandAir  2009-11-12       205
213                    Avient Aviation  2009-11-28       324
214                  American Airlines  2009-12-22       331
215                 Northwest Airlines  2009-12-25       253
216                          Taban Air  2010-01-24      6437
217                 Ethiopian Airlines  2010-01-25       409
218                        Aviastar-TU  2010-03-22      1906
219                          AeroUnion  2010-04-13       302
220         Merpati Nusantara Airlines  2010-04-13       836
221                     Cathay Pacific  2010-04-13       780
222                  Afriqiyah Airways  2010-05-12       771
223                      Pamir Airways  2010-05-17       112
224                  Air India Express  2010-05-22       812
225                    Lufthansa Cargo  2010-07-27      8460
226                            Airblue  2010-07-28       202
227                          Katekavia  2010-08-03      9357
228                              AIRES  2010-08-16      8250
229                           Agni Air  2010-08-24       101
230                     Henan Airlines  2010-08-24      8387
231                       UPS Airlines  2010-09-03         6
232        Alrosa Mirny Air Enterprise  2010-09-07       514
233                           Conviasa  2010-09-13      2350
234                     Aero Caribbean  2010-11-04       883
235                             Qantas  2010-11-04        32
236                            Sun Way  2010-11-28      4412
237                  Dagestan Airlines  2010-12-04       372
238                            Kolavia  2011-01-01       348
239                           Iran Air  2011-01-09       277
240                              Manx2  2011-02-10      7100
241           Central American Airways  2011-02-14       731
242                 Southwest Airlines  2011-04-01       812
243         Merpati Nusantara Airlines  2011-05-07      8968
244                  Sol Líneas Aéreas  2011-05-18      5428
245                             RusAir  2011-06-20      9605
246                  Hewa Bora Airways  2011-07-08       952
247                    Angara Airlines  2011-07-11      5007
248                 Noar Linhas Aéreas  2011-07-13      4896
249                    Asiana Airlines  2011-07-28       991
250                           EgyptAir  2011-07-29       667
251                 Caribbean Airlines  2011-07-30       523
252                          First Air  2011-08-20      6560
253                            Aerocon  2011-09-06       238
254                        Yak-Service  2011-09-07      9634
255                         Buddha Air  2011-09-25       103
256                Nusantara Buana Air  2011-09-29       823
257                       Airlines PNG  2011-10-13      1600
258                           Iran Air  2011-10-18       742
259                LOT Polish Airlines  2011-11-01        16
260                              UTair  2012-04-02       120
261                          Bhoja Air  2012-04-20       213
262                           Agni Air  2012-05-14       CHT
263                         Allied Air  2012-06-02       111
264                           Dana Air  2012-06-03       992
265                   Tianjin Airlines  2012-06-29      7554
266       Petropavlovsk-Kamchatsky Air  2012-09-12       251
267                           Sita Air  2012-09-28       601
268                      FlyMontserrat  2012-10-07       107
269                          Air Bagan  2012-12-25        11
270                 Red Wings Airlines  2012-12-29      9268
271                      SCAT Airlines  2013-01-29       760
272                     South Airlines  2013-02-13      8971
273                      ACE Air Cargo  2013-03-08        51
274                           Lion Air  2013-04-13       904
275                  National Airlines  2013-04-29       102
276                     Nepal Airlines  2013-05-16       555
277         Merpati Nusantara Airlines  2013-06-10      6517
278                    Asiana Airlines  2013-07-06       214
279                       UPS Airlines  2013-08-14      1354
280                Associated Aviation  2013-10-03       361
281                       Lao Airlines  2013-10-16       301
282                 Tatarstan Airlines  2013-11-17       363
283            LAM Mozambique Airlines  2013-11-29       470
284                     Nepal Airlines  2014-02-16       183
285                 Ethiopian Airlines  2014-02-17       702
286                  Malaysia Airlines  2014-03-08       370
287                  Malaysia Airlines  2014-07-17        17
288                  TransAsia Airways  2014-07-23       222
289                        Air Algérie  2014-07-24      5017
290                   Sepahan Airlines  2014-08-10      5915
291                 Skyway Enterprises  2014-10-29      7101
292                  Indonesia AirAsia  2014-12-28      8501
293                  TransAsia Airways  2015-02-04       235
294                    Delta Air Lines  2015-03-05      1086
295                        Germanwings  2015-03-24      9525
296                         Air Canada  2015-03-29       624
297                         Carson Air  2015-04-13        66
298                    Asiana Airlines  2015-04-14       162
299                   Turkish Airlines  2015-04-25      1878
300                Trigana Air Service  2015-08-16       267
301    Ceiba Intercontinental Airlines  2015-09-05        71
302                    British Airways  2015-09-08      2276
303                           Aviastar  2015-10-02      7503
304                    Dynamic Airways  2015-10-29       405
305                           Metrojet  2015-10-31      9268
306                    West Air Sweden  2016-01-08       294
307                    Daallo Airlines  2016-02-02       159
308                           Tara Air  2016-02-24       193
309                           Flydubai  2016-03-19       981
310                           EgyptAir  2016-03-29       181
311                          Batik Air  2016-04-04      7703
312                           EgyptAir  2016-05-19       804
313                         Korean Air  2016-05-27      2708
314                 Singapore Airlines  2016-06-27       368
315                           Emirates  2016-08-03       521
316               ASL Airlines Hungary  2016-08-05      7332
317                 Southwest Airlines  2016-08-27      3472
318                  American Airlines  2016-10-28       383
319                      FedEx Express  2016-10-28       910
320                     LaMia Airlines  2016-11-28      2933
321    Pakistan International Airlines  2016-12-07       661
322                          Aerosucre  2016-12-20      4544
323                  Afriqiyah Airways  2016-12-23       209
324                   Turkish Airlines  2017-01-16      6491
325                  Peruvian Airlines  2017-03-28       112
326                         Summit Air  2017-05-27       409
327                         Air Canada  2017-07-07       759
328                         Air France  2017-09-30        66
329                 West Wind Aviation  2017-12-13       280
330                   Pegasus Airlines  2018-01-13      8622

In [58]:
# [CIS 545 Test Cases] (2 pts)


print('[CIS 545 Test Cases] (2 pts)')

[CIS 545 Test Cases] (2 pts)

## Final Output

The following cells just show what the data looks like.  You should sanity check that it makes sense.

In [59]:
airports_df.head(10)

,airport_id,airport_name,city,airport_country,iata,icao,lat,lon,alt,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule

In [60]:
airlines_df.head(10)

,airline_id,airline_name,alias,iata,icao,airline_callsign,airline_country,active
0,1,Private flight,,-,,,,Y
1,2,135 Airways,,,GNL,GENERAL,United States,N
2,3,1Time Airline,,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,,,WYT,,United Kingdom,N
4,5,213 Flight Unit,,,TFU,,Russia,N
5,6,223 Flight Unit State Airline,,,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,,,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,,,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,,,SEC,SECUREX,United States,N
9,10,40-Mile Air,,Q5,MLA,MILE-AIR,United States,Y

In [61]:
routes_df.head(10)

,airline_iata,airline_id,src_iata_icao,source_id,target_iata_icao,target_id,code_share,stops,equipment
0,2B,410,AER,2965,KZN,2990,,0,CR2
1,2B,410,ASF,2966,KZN,2990,,0,CR2
2,2B,410,ASF,2966,MRV,2962,,0,CR2
3,2B,410,CEK,2968,KZN,2990,,0,CR2
4,2B,410,CEK,2968,OVB,4078,,0,CR2
5,2B,410,DME,4029,KZN,2990,,0,CR2
6,2B,410,DME,4029,NBC,6969,,0,CR2
8,2B,410,DME,4029,UUA,6160,,0,CR2
9,2B,410,EGO,6156,KGD,2952,,0,CR2
10,2B,410,EGO,6156,KZN,2990,,0,CR2

In [62]:
incidents_df.head(10)

                             Airline        Date FlightNum
0                             Comair  1997-01-09      3272
1  Stavropolskaya Aktsionernaya Avia  1997-03-18      1023
2         Merpati Nusantara Airlines  1997-04-19       106
3            China Southern Airlines  1997-05-08      3456
4                      FedEx Express  1997-07-31        14
5                        Sempati Air  1997-07-17       304
6                         Korean Air  1997-08-06       801
7                   Formosa Airlines  1997-08-10      7601
8                   Vietnam Airlines  1997-09-03       815
9              Royal Brunei Airlines  1997-09-06       238

## Step 3: Making Data “Persistent”

Now let’s actually save the data in a persistent way, specifically using a relational database.  For simplicity we’ll use SQLite here, but we could alternatively use a DBMS such as MySQL or PostgreSQL on the cloud (or in another Docker container).

The cell below establishes a connection to an SQLite database, which will be written to the file HW1_DB in your HW1 Jupyter directory.

In [63]:
# sqlite3 allows for use of SQL queries in Python. Just run this cell, no edits needed!
import sqlite3
engine = sqlite3.connect('HW1_DB')

Now save each of your DataFrames (`airlines_df`, `airports_df`, `flights_df`, `routes_df`, `incidents_df`) to the database.  To do this, call the `to_sql` method (make sure to not save the `index` column since it doesn't matter!) on the DataFrame.  Give it a table name matching the DataFrame name, and set the flag `if_exists=’replace’` in case you want to run this multiple times.

Once this is all done, you can move on to Homework 1, Part 2, which will use the DataFrames saved to the SQL database.

In [64]:
# TODO: Use to_sql to save your Dataframes to the HW1_DB

# YOUR CODE HERE
# raise NotImplementedError()

airlines_df.to_sql(name='airlines', con=engine, if_exists='replace', index=False)
airports_df.to_sql(name='airports', con=engine, if_exists='replace', index=False)
flights_df.to_sql(name='flights', con=engine, if_exists='replace', index=False)
routes_df.to_sql(name='routes', con=engine, if_exists='replace', index=False)
incidents_df.to_sql(name='incidents', con=engine, if_exists='replace', index=False)

In [65]:
# Test that the data is there!
# No points for this test case!

cursor = engine.execute('select * from airports limit 1000')
rows = cursor.fetchall()

# View some data
for i in range(10):
    print(rows[i])

if len(rows) < 1000:
    raise ValueError('Somehow fewer than 1000 airports were written')

(1, 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', -6.081689, 145.391881, 5282, 10.0, 'U', 'Pacific/Port_Moresby')
(2, 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', -5.207083, 145.7887, 20, 10.0, 'U', 'Pacific/Port_Moresby')
(3, 'Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'HGU', 'AYMH', -5.826789, 144.295861, 5388, 10.0, 'U', 'Pacific/Port_Moresby')
(4, 'Nadzab', 'Nadzab', 'Papua New Guinea', 'LAE', 'AYNZ', -6.569828, 146.72624199999998, 239, 10.0, 'U', 'Pacific/Port_Moresby')
(5, 'Port Moresby Jacksons Intl', 'Port Moresby', 'Papua New Guinea', 'POM', 'AYPY', -9.443383, 147.22005, 146, 10.0, 'U', 'Pacific/Port_Moresby')
(6, 'Wewak Intl', 'Wewak', 'Papua New Guinea', 'WWK', 'AYWK', -3.583828, 143.669186, 19, 10.0, 'U', 'Pacific/Port_Moresby')
(7, 'Narsarsuaq', 'Narssarssuaq', 'Greenland', 'UAK', 'BGBW', 61.160517000000006, -45.425978, 112, -3.0, 'E', 'America/Godthab')
(8, 'Nuuk', 'Godthaab', 'Greenland', 'GOH', 'BGGH', 64.190922, -51.678064, 283, -3.0, 'E', 'America/Godthab')
(9, 'Sondre Stromfjord', 'Sondrestrom', 'Greenland', 'SFJ', 'BGSF', 67.01696899999999, -50.689325, 165, -3.0, 'E', 'America/Godthab')
(10, 'Thule Air Base', 'Thule', 'Greenland', 'THU', 'BGTL', 76.531203, -68.703161, 251, -4.0, 'E', 'America/Thule')